<h1> Url shortening service </h1>

<form action="/do_shorten" method="post">
	<input type="text" name="url_to_shorten">
	<button name="">Shorten</button>
</form>

<p> Until know those are the shortened links: </p>
